.container-fluid{
  padding-right: 0%;
  padding-left: 0%;
}

.background{
  background: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.navigation{
  background-color: rgba(0, 0, 0, 0) !important;
}

.title-section{
  text-align: center;
  padding-top: 15%;
  padding-bottom: 15%;
  margin-left: 0%;
  margin-right: 0%;

}

.section{
  padding-top: 5%;
  margin-right: 0;
  text-align: center;
}

.icon-section{
  padding: 3%;
}

.red{
  background-color: red;
}

.yellow{
  background-color: yellow;
}

.blue{
  background-color: blue;
}

.green{
  background-color: green;
}
