.container-fluid{
  padding-right: 0%;
  padding-left: 0%;
}

.background{
  width: 100%;
  height: auto;
  background: url('../images/background.jpg')  fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.navigation{
  background-color: rgba(0, 0, 0, 0) !important;
}

.title-section{
  text-align: center;
  padding-top: 15%;
  padding-bottom: 15%;
}
